.heading{
    font-size:20px;
     width:100%;
     margin:0px;
 }
.button{
    font-size:20px;
}
canvas{
    background-color:green;
    border-radius: 40px;
    box-shadow: 10px 10px 10px red;
    
}